body, html {
  color: #222;
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 0px 0 0px 0;


  
}

body a {
  text-decoration: none;
  color: pink;
}

body a:hover {
  text-decoration: underline;
  color: pink;
}

header {
  background: rgba(0, 0, 128, 0.9);
  border-bottom: 3px solid #000080;
  box-shadow: 0px 0px 12px 0px rgba(0,0,128,1);
  box-sizing: border-box;
  color: #fff;
  height: 60px;
  left: 0;
  padding: 15px 20px 20px 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

header a {
  color: #B3E5FC;
  text-decoration: none;
}

header a:hover {
  color: #FFF;
  border-bottom: 3px solid #FF0000;

}

#pageTitle {
  font-size: 26px;
  text-decoration: none;
  font-family: Roboto, arial, sans-serif;
  font-weight: 200;
  color: #FFF;
  border-bottom: none;
  text-align: left;
}

header nav {
  display: inline-block;
  right: 20px;
  position: absolute;
  top: 20px;
}

header nav a {
  display: inline-block;
  text-decoration: none;
  margin: 0 0 0 15px;
}

header nav a:hover {
  text-decoration: none;
}

#all {
  padding: 70px;
  text-align: center;
  background-color: rgba(0,0,0,0);
}

#footer {
  background: #000080;
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

#footer a {
  color: #fff;
  text-decoration: none;
}

#masthead {
  height: 100vh;

  
  width: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

#aboutMe {
  margin-top: 0px;
  background-color: rgba(0, 0, 255);
  background-color: rgba(0, 0, 255, 0.7);
  opacity: 1;
  margin: 140px 100px 0 100px;
  height: 40%;
  border-radius: 20px;
  float: center;
  box-shadow:  10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Roboto, sans-serif;
  padding-bottom: 15px;
}


#fun {
  margin-top: 0px;
  background-color: rgba(0, 0, 255);
  background-color: rgba(0, 0, 255, 0.7);
  opacity: 1;
  margin: 140px 100px 0 100px;
  height: 40%;
  border-radius: 20px;
  float: center;
  box-shadow:  10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Roboto, sans-serif;
  padding-bottom: 15px;
}

#publications {
  margin-top: 0px;
  background-color: rgba(0, 0, 255);
  background-color: rgba(0, 0, 255, 0.7);
  opacity: 1;
  margin: 140px 100px 0 100px;
  height: 40%;
  border-radius: 20px;
  float: center;
  box-shadow:  10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Roboto, sans-serif;
  padding-bottom: 15px;
}

#socialLinks {
  display: block;
  position: fixed;
  margin: auto;
  float: center;
  left: 0%;
}

#icon {
  padding-bottom: 5px;
  
}

#icon:hover{
  padding-bottom: 5px;
  border-bottom: 6px solid #FF0000;
}

#sectionTitle {
  font-size: 40px;
  padding-top: 15px;
}

#sectionP {
  font-size: 22px;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}

.fullImage {

  border-radius: 20px;
}

#hero {
  
  bottom: 60%;
  left: 50%;
  transform: translate(0%, 30%);
  display: inline-block;
}

.profile {
  box-shadow:  10px 10px 10px 10px rgba(0, 0, 0, 0.75);
  
  width: 25%; 
  border-radius: 50%;
  border: 4px solid #fff;

}

.quote {
   font-family: 'EB Garamond';
    font-size: 28px;
    line-height: 2rem;
    height: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: auto;
     -webkit-font-smoothing: antialiased;
             font-smoothing: antialiased;
    font-kerning: normal;

  background-color: rgba(0, 0, 255);
  background-color: rgba(0, 0, 255, 0.7);
  opacity: 1;
  height: 50%;
  border-radius: 20px;
  float: center;
  box-shadow:  10px 10px 10px 10px rgba(0, 0, 0, 0.5);
  color: white;
  font-family: Roboto, sans-serif;
  padding-bottom: 25px;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  width: 70%;
  margin-left: 14%;
  margin-right: 10%;
}


.column {
  float: left;
  width: 25%;
  padding: 5px;
  margin-left: 15%;
}

.column1 {
  float: left;
  width: 20%;
  padding: 5px;
  margin-left: 10%;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.crossfade > figure {
  animation: imageAnimation 50s linear infinite 0s;
  backface-visibility: hidden;
  background-size: cover;
  color: transparent;
  height: 100%;
  opacity: 0;
  position: fixed;
  top: 0px;
  left: -40px;
  width: 100%;
  z-index: -1;

  background-position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.crossfade > figure:nth-child(1) { background-image: url('images/creve.jpg'); }

.crossfade > figure:nth-child(2) {
  animation-delay: 10s;
  background-image: url('images/muny.jpg');
}

.crossfade > figure:nth-child(3) {
  animation-delay: 20s;
  background-image: url('images/farmerDan.jpg');
}

.crossfade > figure:nth-child(4) {
  animation-delay: 30s;
  background-image: url('images/f2.jpg');
}

.crossfade > figure:nth-child(5) {
  animation-delay: 40s;
  top: 0px;
  background-image: url('images/p2.jpg');
}

@keyframes 
imageAnimation 
{  0% {
 animation-timing-function: ease-in;
 opacity: 0;
}
 8% {
 animation-timing-function: ease-out;
 opacity: 1;
}
 17% {
 opacity: 1
}
 25% {
 opacity: 0
}
 100% {
 opacity: 0
}
}